#root {
    width: 50%;
    max-width: 500px;
    .App {
        width: 100%;
        .card-body{
            width: 100%;
            table {
                width: 100%;
                border-collapse: initial;
                font-size: 14px;
            }
        }
    }
}

.task-action {
    cursor: pointer;
}

.task-completed {
    color: gray;
    text-decoration: line-through;
}

.task-pending { 
    font-weight: bold;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid lightgray;
    gap: 30px;
    .form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .label {
            margin: 0;
        }
    }

    button {
        width: 100%;
    }
}