.task-action {
    cursor: pointer;
}

.task-completed {
    color: gray;
    text-decoration: line-through;
}

.task-pending { 
    font-weight: bold;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: lightblue;
    border: 1px solid lightgray;
    gap: 30px;
    .form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .label {
            margin: 0;
        }
    }

    button {
        width: 100%;
    }
}